nav {
	font-family: Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E5E7E9;
}

li {
	float: left; 
}

li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #85C1E9;
}

.activo {
	background-color: #109EC4;
}
